@import url('https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans:ital@1&family=Pacifico&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'PT Sans', sans-serif;
text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.webp');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #66766c8d;
    border: 2px solid #66766c;
    color: #c1b9a2;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out 
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #63513d;
    color: #c1b9a2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;

}

.intro-text__textbox h3 {
font-size: 2rem;
text-transform: uppercase;
margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/image3.webp);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #37373cb0;
    border: 2px solid #37373c;
    color: #d2a87a;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out; 
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #866e68;
    color: #fad0a3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image2.webp);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #37373cb0;
    border: 2px solid #37373c;
    color: #d2a87a;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out; 
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #866e68;
    color: #fad0a3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #37373c;
    color: #b7bccb;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
color: #b7bccb;
text-decoration: none;
}

.footer ul li :hover {
    /* color: #fff;*/
    transform: scale(1.3);
}